#hide-out {
  display: none;
}
h1 {
  font-size: large;
  text-align: center;
}
h2 {
  font-size: large;
  text-align: center;
}
#col-2-text {
  text-align: center;
}
#col2 {
  background-color: blanchedalmond;
}
#submit-pad {
  padding-top: 20px;
}